<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Navigation</title>
</head>
<body>
    <center>
        <h1>This is my First HTML webpage</h1>
        <h1>From here to we have to go to Second HTMLpage</h1>
        <a href="{% url 'Tapu' %}">Click here For Second Page</a><br>
        <a href="{% url 'App2:Lipu' %}"> Go to Third Page</a>
    </center>
</body>
</html>